body {
    background-color: #eee
}

.mb-30 {
    margin-bottom: 30px !important;
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec;
    height: inherit;
}

a {
    color: #0da9ef;
    text-decoration: none !important;
}

.c-img{
    height: 450px !important;
}
.btn-group-sm>.btn,
.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

@media only screen and (max-width:784px) {
    .c-img{
        height: 200px !important;
    }
}